.nav-effects {
  position: relative;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.nav-effects:hover {
  color: #0835ca;
}

.nav-effects::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #0835ca;
  transition: width 0.3s ease-in-out;
}

.nav-effects:hover::after {
  width: 100%;
}

.text-shadow-yellow {
  text-shadow: -4px 0px 4px #ffb42c;
}

.line-dashed {
  border-top: 1px dashed #0835ca;
}

.background-svg {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNDQwIDMyMCI+PHBhdGggZmlsbD0iIzAwOTlmZiIgZmlsbC1vcGFjaXR5PSIxIiBkPSJNMCwyODhMMzQuMywyNjEuM0M2OC42LDIzNSwxMzcsMTgxLDIwNiwxNzAuN0M3NC4zLDE2MCwzNDMsMTkyLDE0MSwxNzAuN0M0ODAsMTQ5LDU0OSw3NSw2MTdDNjU4LjcsNTMsMTI2LDEyOCwxMzcxLDIyNCwxMzcsMjcyTDE0NDAwMiwzMjBMMTQ0MCwwTDE0MDUsMDAwQzE0MDEuNCwwLDEwOSwwQzExNiwxMiwxMTYsMjIsMTIzNiw5MC43QzEzMDIuOSwxMjgsMTM3MSwyMjQsMTQwNiwxMjgsMjcwTDE0NDAwMCwzMjBMMTAwMiwwLjA3MDEwMiwyLDQyNjYyPjwvcGF0aD4gPC9zdmc+");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.image-container {
  transition: transform 0.3s ease; 
}

.image-container:hover {
  transform: scale(1.1); 
}
